<<<<<<< HEAD
<h2>Login</h2>

<form action="/admin" method="post">
  <label for="username"><b>Username</b></label>
  <input type="text" placeholder="Enter Username" name="username" />

  <label for="password"><b>Password</b></label>
  <input type="password" placeholder="Enter password" name="password" />

  <input type="submit" value="Login" class="btn" />
</form>

=======
<h3>Sing in</h3>

<form action="/admin" method="post">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username">

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter password" name="password">

    <input type="submit" value="Login" class="btn">
</form>


>>>>>>> c79bf96dfc9f59349a227129a3d278f3d51dc059
<!-- <h3>Register</h3>

<form action="/register" method="post">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username">

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter password" name="password">

    <input type="submit" value="Register" class="btn">
<<<<<<< HEAD
</form> -->
=======
</form> -->
>>>>>>> c79bf96dfc9f59349a227129a3d278f3d51dc059
