<h1>About</h1>

<<<<<<< HEAD
<header class="header">
  <nav class="header__nav">
    <ul>
      <li>
        <div class="instagram">instagram</div>
      </li>
      <li>
        <div class="phone">010-xxxx-xxxx</div>
      </li>
      <li>
        <div class="kkt">kakaotalk</div>
      </li>
    </ul>
  </nav>
</header>
=======

<header class="header">
    <nav class="header__nav">
        <ul>
            <li>
                <div class="instagram">
                    instagram
                </div>
            </li>
            <li>
                <div class="phone">
                    010-xxxx-xxxx
                </div>
            </li>
            <li>
                <div class="kkt">
                    kakaotalk
                </div>
            </li>
        </ul>
    </nav>
>>>>>>> c79bf96dfc9f59349a227129a3d278f3d51dc059
