<h1>About</h1>

<header class="header">
  <nav class="header__nav">
    <ul>
      <li>
        <div class="instagram">instagram</div>
      </li>
      <li>
        <div class="phone">010-xxxx-xxxx</div>
      </li>
      <li>
        <div class="kkt">kakaotalk</div>
      </li>
    </ul>
  </nav>
</header>
